@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');
:root {
    --blue: #f5f7fb;
    --medium-blue: #4D5B9E;
    --dark-blue: #293264;
    --chosen: #D6DBF5;
    --correct: #94D7A2;
    --wrong: #F8BCBC;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--blue);
}

.start-screen, .questions-wrapper {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 600px;
}

.start-screen {
    height: 600px;
}

.start-title {
    font-weight: bold;
    font-size: 31.25px;
    line-height: 37px;

    margin: 0;

    color: var(--dark-blue);
}

.start-description {
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    margin-bottom: 2rem;

    color: var(--dark-blue);
}

.start-button, .check-answers {
    width: 193px;
    height: 52px;
    border: none;
    cursor: pointer;

    background-color: var(--medium-blue);
    border-radius: 15px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: var(--blue);
}

.check-answers {
    width: 120px;
    height: 35px;
    margin: 1.5em 0;

    font-size: 14px;

    border-radius: 10px;
}

.start-button:hover,
.check-answers:hover {
    background-color: var(--dark-blue);
}

.question-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: var(--dark-blue);
}

.question-answer {
    border: 0.794239px solid var(--medium-blue);
    box-sizing: border-box;
    border-radius: 7.94239px;
    background-color: var(--blue);
    padding: .25em 1.25em;
    margin-right: 1.5em;
    margin-bottom: 1em;

    font-family: inherit;
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;

    text-align: center;

    color: var(--dark-blue);
}

.questions {
    width: 80%;
}

.chosen {
    background-color: var(--chosen);
}

.submitted {
    opacity: .5;
}

.correct {
    background-color: var(--correct);
    opacity: 1;
}

.wrong {
    background-color: var(--wrong);
}