@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');
:root {
    --blue: #f5f7fb;
    --medium-blue: #4D5B9E;
    --dark-blue: #293264;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.start-screen {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 600px;
    width: 600px;
}

.start-title {
    font-weight: bold;
    font-size: 31.25px;
    line-height: 37px;

    margin: 0;

    color: var(--dark-blue);
}

.start-description {
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    margin-bottom: 2rem;

    color: var(--dark-blue);
}

.start-button {
    width: 193px;
    height: 52px;
    border: none;
    cursor: pointer;

    background-color: var(--medium-blue);
    border-radius: 15px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: var(--blue);
}

.start-button:hover {
    background-color: var(--dark-blue);
}
